.acme {
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7D0042;
        padding: 10px;

        &::after {
            content: '';
            background-color: #FFFFFF;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 350px;
            top: 90px;
            transform: rotate(45deg);

            @media only screen and (max-width: 768px) {
                display: none;
            }

            @media only screen and (max-width: 820px) {
                left: 220px;
            }
        }

        @media only screen and (min-width: 768px) {
            padding: 10px 40px;
        }

        @media only screen and (min-width: 820px) {
            padding: 10px 20px;
        }

        @media only screen and (min-width: 1024px) {
            padding: 10px 100px;
        }
    }
    
    &__left-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: max-content;
        width: auto;

        @media only screen and (max-width: 768px) {
            width: 100%;
            justify-content: space-between;
        }
    }
    
    &__logo {
        height: 80px;
        width: auto;
        margin: 0 65px 0 0;

        @media only screen and (max-width: 820px) {
            margin-right: 20px;
        }
    }
    
    &__leagues {
        display: none;

        @media only screen and (min-width: 820px) {
            display: block;
            color: #FFFFFF;
            font-size: 30px;
            font-weight: 450;
            margin: 0 20px;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 32px;
            margin: 0 25px;
        }
    }
    
    &__drop-menu {
        display: none;

        @media only screen and (min-width: 820px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            box-shadow: 0 8px 8px rgba(0,0,0,0.1); /* horizontal offset, vertical offset, blur radius*/
            height: max-content;
            position: relative;
            z-index: 1;
            padding: 0 10px;

            h2 {
                font-size: 18px;
            }
        }

        @media only screen and (min-width: 1024px) {
            padding: 0 100px;
            justify-content: flex-start;
        }
    }
    
    &__options {
        color: #1E1E1E;
        font-weight: 400;
        margin: 0px;
        padding: 12px 20px;
    }
    
    &__options-selected {
        color: #FFFFFF;
        background-color: #5A5A5A;
        font-weight: 400;
        margin: 0px;
        padding: 12px 20px;
    }
    
    &__menu-icon {
        margin: 0px;
    }
    
    &__search {
        display: none;

        @media only screen and (min-width: 1024px) {
            display: block;
            width: 450px;
            outline: none;
            border: 1px solid grey;
            border-radius: 30px;
            padding: 15px 20px;
        }
    }
}