.about {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 50px;
    align-items: center;
    width: 75%;
    padding: 50px;

    @media only screen and (max-width: 1024px) {
        grid-template-columns: 350px 1fr;
        width: 100%;
        padding: 30px;
    }

    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    @media only screen and (max-width: 415px) {
        padding: 15px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
        font-family: arpona, serif;
        color: #FFFAFF;
        background-color: rgba(0, 0, 0, 0.55);
        border-radius: 10px;
        padding: 20px;
    }
    
    &__profile {
        display: flex;
        margin: 0;
        height: auto;
        width: 100%;
        background-color: #e7c6ff;
        border-radius: 10px;
    }
    
    &__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        margin: 0px;
        gap: 20px;

        &-icon {
            max-width: 200px;
            height: auto;
            margin-bottom: 0;

            @media only screen and (max-width: 415px) {
                width: 100px;
            }
        }

        @media only screen and (max-width: 1024px) {
            padding: 0 15px 15px 15px;
            width: 100%;
        }
    }
}