@import "../../styles/variables";

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: arpona, serif;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    color: $off-white;

    .button {
        text-decoration: none;
        background-color: transparent;
        border: transparent;
        font-family: arpona, serif;
        padding: 0;
    }
    
    .button:hover {
        color: #e7c6ff;
        background-color: transparent;
        cursor: pointer;
    }

    p {
        margin: 0;
        text-align: center;
    }
    
    .text {
        font-family: arpona, serif;
        color: #FFFAFF;
        margin-bottom: 0px;
        text-decoration: none;
        margin: 0px 5px;
    }
    
    span {
        margin: 0;
    }
}